
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    font-family: var(--main-font);

}

h3{
    color: #333;
    text-align: center;
    padding: 20px 0;
   
}
img{
    width:700px;
    padding: 20px;
    border-radius: 8px;
    height: 800px
}
form {
    width: 500px;
    height: 800px;   
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

label {
    display: block;
    margin-bottom: 8px;
    color: #1a1919;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,   
select,
option {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
 select{
    font-size: 15px;
}

textarea {
    resize: vertical; 
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

li.flash-message{
    list-style:none;
    color: var(--flash);
}

