img{
    width: 400px;
    height: 200px;
}
.car-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}