<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Car</title>
</head>
<body>
    <h1>{{user.name}}</h1>
    <h1>Add Car</h1>
    <form method="post" action="{{ url_for('add_car') }}" enctype="multipart/form-data">
        {% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages%}
                <ul>
                    {% for category, message in messages %}
                        <li
                            class="flash-message absolute -top-6 right-0 bg-red-600 p-4 text-blue-light">
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <label for="model">Model:</label>
        <input type="text" name="model" required><br>

        <label for="make">Make:</label>
        <input type="text" name="make" required><br>

        <label for="price">Price:</label>
        <input type="text" name="price" required><br>

        <label for="additional_info">Additional Information:</label>
        <textarea name="additional_info" required></textarea><br>

        <label for="picture">Picture:</label>
        <input type="file" name="picture" required><br>

        <button type="submit">Add Car</button>
    </form>
    <a href="{{url_for('logout')}}">LogOut</a>
    <a href="{{url_for('owner_dashboard', owner_id = user.id)}}">Back to dashboard</a>



    <script>
        // Function to automatically hide flash messages after 3 seconds
        document.addEventListener("DOMContentLoaded", function () {
            var flashMessages = document.querySelectorAll(".flash-message");
            flashMessages.forEach(function (message) {
                setTimeout(function () {
                    message.style.display = "none";
                }, 4000);
            });
        });
    </script>
</body>
</html>
