<!DOCTYPE html>
<html lang="en">
    <head>

        <title>{% block title%} CruiseHUB {% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&display=swap" rel="stylesheet">
    <link href="{{url_for('static', filename='index.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" crossorigin="anonymous" />


    </head>

    <body>
        <main>
            <div class="nav">
                <nav>
                    <ul>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <li>
                            <a href="/signup">SignUp</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <h1>{% block content%} Let`s Roll! {% endblock %}</h1>
        </main>

        <footer>
            <div class="footer_social">
                <ul>
                    <li><a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></a></li>
                    <li><a href="https://github.com/fffffffff" target="_blank"><i class="fa fa-github"></i></a></li>

                </ul>
            </div>

            <div class="footer_policy">
                <ul>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/terms-of-service">Terms of Service</a></li>
                </ul>
            </div>

        </footer>
    </body>
</html>