<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title%} CruiseHUB {% endblock %}</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='output.css') }}" />
    </head>

    <body class="bg-blue-light">
        <!-- Navbar -->
        <nav>
            <div class="container flex item justify-between">
                <div>
                    <a href="#" class="block py-5 px-4 text-blue font-bold">CruiseHUB</a>
                </div>

                <div class="hidden md:flex items-center space-x-2">
                    <a href="#about" class="py-5 px-2 text-gray-600 hover:text-gray-950"
                        >About Us</a
                    >
                    <a href="#cars" class="py-5 px-2 text-gray-600 hover:text-gray-950">Cars</a>
                    <a href="#features" class="py-5 px-2 text-gray-600 hover:text-gray-950"
                        >Features</a
                    >
                    <a href="#help" class="py-5 px-2 text-gray-600 hover:text-gray-950">Help</a>

                    <!--Buttons-->
                    <a href="" class="btn-secondary py-2">Login</a>
                    <a href="" class="btn-primary py-2">Sign Up</a>
                </div>

                <!-- mobile menu toggler -->
                <div class="md:hidden flex items-center">
                    <button class="mobile-menu-toggle">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6">
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                    </button>
                </div>
            </div>

            <!-- mobile menu -->
            <div class="container md:hidden space-y-2">
                <a
                    href="#about"
                    class="block py-3 px-2 hover:bg-slate-200 text-gray-600 hover:text-gray-950"
                    >About Us</a
                >
                <a
                    href="#cars"
                    class="block py-3 px-2 hover:bg-slate-200 text-gray-600 hover:text-gray-950"
                    >Cars</a
                >
                <a
                    href="#features"
                    class="block py-3 px-2 hover:bg-slate-200 text-gray-600 hover:text-gray-950"
                    >Features</a
                >
                <a
                    href="#help"
                    class="block py-3 px-2 hover:bg-slate-200 text-gray-600 hover:text-gray-950"
                    >Help</a
                >

                <!--Buttons-->
                <a href="" class="block btn-secondary py-3 text-center">Login</a>
                <a href="" class="block btn-primary py-3 text-center">Sign Up</a>
            </div>
        </nav>
    </body>
</html>
