<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login | cruiseHub</title>

        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='output.css') }}" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='definitions.css') }}" />
    </head>
    <body>
        <section
            class="bg-blue h-dvh bg-blend-multiply bg-cover bg-center"
            style="background-image: url('../static/auth-bg.png')">
            <div class="container grid grid-cols-2 items-center justify-between h-full">
                <h1 class="font-extrabold text-blue-light text-7xl italic">CruiseHub</h1>
                <form
                    action="/login"
                    method="POST"
                    class="relative w-[550px] bg-blue-light py-12 px-14">
                    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages
                    %}
                    <ul>
                        {% for category, message in messages %}
                        <li
                            class="flash-message absolute -top-6 right-0 bg-red-600 p-4 text-blue-light">
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %} {% endwith %}

                    <h3 class="font-bold text-3xl">Login</h3>
                    <p class="text-gray-400 text-sm leading-loose">
                        Don’t have an account?
                        <a href="/signup" class="text-blue font-medium">Sign Up</a>
                    </p>

                    <label for="username" class="block my-6">
                        Username
                        <input
                            type="text"
                            name="username"
                            class="block mt-1 w-full px-4 py-5 rounded-md bg-transparent border-2 border-gray-200"
                            required />
                    </label>
                    <label for="password" class="block my-6">
                        Password
                        <input
                            type="password"
                            name="password"
                            class="block mt-1 w-full px-4 py-5 rounded-md bg-transparent border-2 border-gray-200"
                            required />
                    </label>
                    <label for="user_type" class="block my-6">
                        User Type:
                        <select
                            name="user_type"
                            class="block mt-1 w-full px-4 py-5 rounded-md bg-transparent border-2 border-gray-200"
                            required>
                            <option value="user">User</option>
                            <option value="owner">Owner</option>
                        </select>
                    </label>

                    <a
                        href="/forgot_password"
                        class="block leading-loose text-blue text-right hover:text-blue-dark"
                        >Forgot Password?</a>


                    <button type="submit" value="login" class="btn-primary block w-full">
                        Login
                    </button>
                </form>
            </div>
        </section>

        <script>
            // Function to automatically hide flash messages after 3 seconds
            document.addEventListener("DOMContentLoaded", function () {
                var flashMessages = document.querySelectorAll(".flash-message");
                flashMessages.forEach(function (message) {
                    setTimeout(function () {
                        message.style.display = "none";
                    }, 4000);
                });
            });
        </script>
    </body>
</html>
