<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login | cruiseHub</title>

        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='output.css') }}" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='definitions.css') }}" />
    </head>
    <body>
        <section
            class="bg-blue h-dvh bg-blend-multiply bg-cover bg-center"
            style="background-image: url('../static/auth-bg.png')">
            <div class="container flex items-center">
                <h1 class="font-extrabold text-blue-light text-7xl italic">CruiseHub</h1>
                <form action="/login" method="POST">
                    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages
                    %}
                    <ul>
                        {% for category, message in messages %}
                        <li class="flash-message">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %} {% endwith %}
                    <h3>Login</h3>
                    <label for="username"> Username</label>
                    <input type="text" name="username" required /><br />
                    <label for="password">Password</label>
                    <input type="password" name="password" required /><br />
                    <label for="user_type">User Type:</label>
                    <select name="user_type" required>
                        <option value="user">User</option>
                        <option value="owner">Owner</option></select
                    ><br />

                    <button type="submit" value="login">Login</button>

                    <a href="/signup">Create an account</a>
                </form>
            </div>
        </section>

        <script>
            // Function to automatically hide flash messages after 3 seconds
            document.addEventListener("DOMContentLoaded", function () {
                var flashMessages = document.querySelectorAll(".flash-message");
                flashMessages.forEach(function (message) {
                    setTimeout(function () {
                        message.style.display = "none";
                    }, 2000);
                });
            });
        </script>
    </body>
</html>
