<!-- navigation.html -->
<nav class="container py-5 sticky top-0 bg-blue-light z-50">
    <ul class="flex justify-between w-full">
        <li>
            <a href="{{url_for('user_dashboard')}}" class="text-blue font-bold">CruiseHub</a>
        </li>
        <div class="flex gap-4">
            <li>
                <a href="{{ url_for('user_reservations') }}" class="hover:text-red-500"
                    >My Reservations</a
                >
            </li>
            <li>
                <a href="{{ url_for('logout') }}" class="hover:text-red-500">Log out</a>
            </li>
        </div>
    </ul>
</nav>
