<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='output.css') }}" />
        <title>Your Cars</title>
    </head>
    <body class="bg-blue-light">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="flash-message absolute -top-6 right-0 bg-red-600 p-4 text-blue-light">
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %} {%include "owner_navigation.html"%}

        <h2 class="container text-center my-10 text-6xl font-bold leading-normal">
            Welcome {{owner.name}}
        </h2>
        {%if not cars%}
        <a href="{{url_for('add_car')}}">You have No cars yet, add cars</a>

        {%else%}
        <section class="container">
            <h3>These are your cars</h3>
            <div class="grid grid-cols-3 gap-x-4 gap-y-8 my-5">
                {% for car in cars%}
                <div class="rounded-md overflow-hidden border">
                    <div>
                        <a
                            href="{{url_for('car_profile', car_id = car.id)}}"
                            class="overflow-hidden h-60 w-full block"
                            ><img
                                src="/{{ car.picture }}"
                                alt="{{car.picture}}"
                                class="car-image w-full h-60 object-cover transition duration-100"
                        /></a>
                    </div>
                    <div class="p-2">
                        <h2 class="font-bold py-4">{{car.make}} {{car.model}}</h2>

                        {%if car.status == 'available'%}
                        <form
                            method="POST"
                            action="{{ url_for('update_status', owner_id = owner.id, car_id = car.id) }}">
                            <button type="submit" class="btn-primary">
                                Take out for maintenance
                            </button>
                        </form>
                        {% else %}
                        <form
                            method="POST"
                            action="{{ url_for('update_status', owner_id = owner.id, car_id = car.id) }}">
                            <button type="submit" class="btn-primary">
                                Return car for reservation
                            </button>
                        </form>

                        <form
                            method="POST"
                            action="{{ url_for('remove_car', owner_id = owner.id, car_id = car.id) }}">
                            <button type="submit" class="btn-primary">
                                Remove car from market place
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <div class="container mt-10">
            <a
                href="{{url_for('show_reservation', owner_id = owner.id)}}"
                class="btn-secondary block mx-auto my-4 w-1/2 text-center"
                >Manage your Reservations</a
            >
            <a
                href="{{url_for('add_car')}}"
                class="btn-secondary block mx-auto my-4 w-1/2 text-center"
                >Add cars</a
            >
            <a
                href="{{url_for('logout')}}"
                class="btn-secondary block mx-auto my-4 w-1/2 text-center"
                >LogOut</a
            >
        </div>
        {%endif%}

        <script>
            // Function to automatically hide flash messages after 3 seconds
            document.addEventListener("DOMContentLoaded", function () {
                var flashMessages = document.querySelectorAll(".flash-message");
                flashMessages.forEach(function (message) {
                    setTimeout(function () {
                        message.style.display = "none";
                    }, 4000);
                });
            });

            // Get all car images
            const carImages = document.querySelectorAll(".car-image");

            // Add mouseover event listener to each image
            carImages.forEach((image) => {
                image.addEventListener("mouseover", () => {
                    image.style.transform = "scale(1.3)"; // Scale the image to 110% of its original size
                });

                // Add mouseout event listener to each image
                image.addEventListener("mouseout", () => {
                    image.style.transform = "scale(1)"; // Restore the image to its original size
                });
            });
        </script>
    </body>
</html>
