<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cars</title>
</head>
<body>
    <H2>Welcome {{owner.name}}</H2>
    {%if cars%}
        {% for car in cars%}
        <div>
            {{car.make}} {{car.model}}
        <a href="{{url_for('car_profile', car_id = car.id)}}"><img src="/{{ car.picture }}" alt="{{car.picture}}"></a> 
        </div>
        {% endfor %}
    {%endif%}
    <a href="{{url_for('add_car')}}">Add cars</a>
    <a href="{{url_for('logout')}}">LogOut</a>
</body>
</html>