<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings</title>
</head>
<body>
    <form action="{{ url_for('reservation', car_id=car_id) }}" method="post">
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" min="{{ current_date }}" required><br><br>

        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" min="{{ current_date }}" required><br><br>

        <input type="submit" value="Complete Reservation">
    </form>
</body>
</html>