<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='output.css') }}" />

        <title>View Your reserved cars</title>
    </head>
    <body class="bg-blue-light container">
        <h2 class="my-10 text-6xl font-bold leading-normal">Manage your cars</h2>
        {%if reserved_cars%}
        <div class="grid grid-cols-3 gap-x-4 gap-y-8 my-5">
            {%for reservation,car,user in reserved_cars%}
            <ol>
                <li>
                    <img src="/{{car.picture}}" alt="car picture" />
                </li>
                <li>Start date: {{reservation.start_date.strftime("%b %d, %Y")}}</li>
                <li>End date: {{reservation.end_date.strftime("%b %d, %Y")}}</li>
                <li>Booked by : {{user.name}}</li>
            </ol>
            {%endfor%}
        </div>
        <a href="{{url_for('owner_dashboard', owner_id = user.id)}}" class="btn-primary"
            >Back to Owner dashboard</a
        >
        {%else%}
        <h3>You don't have any bookings yet!</h3>
        {%endif%}
    </body>
</html>
