<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Submit Token</h1>
    <form action="/reset_password" method="POST">
    <label for="token">Token:</label>
    <input type="number" name="token" id="token" value="token" required>
    <label for="Password" name>New Password:</label>
    <input type="password" name="new_password" value="new_password" required>
    <label for="Password">Confirm Password:</label>
    <input type="password" name="confirm_password" value="confirm_password" required>
    <button type="submit">Submit</button>
    </form>
</body>
</html>