<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='output.css') }}" />
        <title>Submit Token</title>
    </head>
    <body class="bg-blue">
        <section class="container relative bg-blue-light w-1/2 py-10 my-10">
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages%}
            <ul>
                {% for category, message in messages %}
                <li class="flash-message absolute -top-6 right-0 bg-red-600 p-4 text-blue-light">
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %}
            <h1 class="text-center mt-10 text-2xl font-bold leading-normal">
                Create a New Password
            </h1>
            <form action="/reset_password" method="POST">
                <input
                    type="text"
                    name="email"
                    disabled
                    value="{{ email }}"
                    class="block mt-1 w-full px-4 py-5 rounded-md bg-transparent border-2 border-gray-200" />

                <label for="token" class="block my-6">Token:</label>
                <input
                    type="number"
                    name="token"
                    id="token"
                    placeholder="Enter Token"
                    class="block mt-1 w-full px-4 py-5 rounded-md bg-transparent border-2 border-gray-200"
                    required />
                <label for="new_password" class="block my-6">New Password:</label>
                <input
                    type="password"
                    name="new_password"
                    placeholder="Enter New Password"
                    class="block mt-1 w-full px-4 py-5 rounded-md bg-transparent border-2 border-gray-200"
                    required />
                <label for="confirm_password" class="block my-6">Confirm Password:</label>
                <input
                    type="password"
                    name="confirm_password"
                    placeholder="Confirm New Password"
                    class="block mt-1 w-full px-4 py-5 rounded-md bg-transparent border-2 border-gray-200"
                    required />
                <label for="user_type" class="block my-6">
                    User Type:
                    <select
                        name="user_type"
                        class="block mt-1 w-full px-4 py-5 rounded-md bg-transparent border-2 border-gray-200"
                        required>
                        <option value="user">User</option>
                        <br />
                        <option value="owner">Owner</option>
                    </select>
                </label>
                <button type="submit" class="btn-primary">Submit</button>
            </form>
        </section>
        <script>
            // Function to automatically hide flash messages after 3 seconds
            /*document.addEventListener("DOMContentLoaded", function () {
            var flashMessages = document.querySelectorAll(".flash-message");
            flashMessages.forEach(function (message) {
                setTimeout(function () {
                    message.style.display = "none";
                }, 4000);
            });
        });*/
        </script>
    </body>
</html>
