<!DOCTYPE html>
<head><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Reservations</title>
    
</head>
<body>
    <h3>Your Reservations!</h3>
  {% if reserved_cars%}
    {% for reservations, car in reserved_cars%}
    <thead>
      <th>S/N</th>
      <th>Reservation ID</th>
      <th>Start date</th>
      <th>End Date</th>
      <th>Car Name</th>
      <th>Actions</th>
      <th>Image</th>
  </thead>
    <div class="reservation-column">
      
      <!-- <div><img src="/{{car.picture}}" alt="" width="200px" height="150px"></div> -->
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>Reservation ID: {{ reservations.id }}</td>
        <td>Start Date: {{ reservations.start_date.strftime("%b %d, %Y")}}</td>
        <td>End Date: {{ reservations.end_date.strftime("%b %d, %Y") }}</td>
        <td><form method="POST" action="{{ url_for('cancel_reservation', reservation_id=reservations.id) }}">
          <button type="submit">Cancel Reservation</button>
        </form></td>
        <td> Car Name: {{ car.make }}{{car.model}}</td>
      </tr>
      
      
      
     
      
    </div>
    {% endfor %}
{% else %}
  <p>You have no reservation yet <a href="{{url_for('user_dashboard')}}">Book one here</a></p>
{% endif %}
</body>