<!DOCTYPE html>
<head><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Reservations</title>
    
</head>
<body>
    <h3>Your Reservations!</h3>
  {% if reserved_cars%}
    {% for reservations, car in reserved_cars%}
    <div class="reservation-column">
      <div><img src="/{{car.picture}}" alt=""></div>
      <h4>Reservation ID: {{ reservations.id }}</h4>
      <p>Start Date: {{ reservations.start_date.strftime("%b %d, %Y")}}</p>
      <p>End Date: {{ reservations.end_date.strftime("%b %d, %Y") }}</p>
      <p>Car Name: {{ car.make }}{{car.model}}</p>
      <form method="POST" action="{{ url_for('cancel_reservation', reservation_id=reservations.id) }}">
        <button type="submit">Cancel Reservation</button>
      </form>
    </div>
    {% endfor %}
{% else %}
  <p>You have no reservation yet <a href="{{url_for('user_dashboard')}}">Book one here</a></p>
{% endif %}
</body>