<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user_dashboard.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='definitions.css') }}">
    <title>User Dashboard</title>
</head>
<body>
    <h1>Welcome to Your Dashboard {{user.username}}</h1>
    <div class="car-gallery">
        {% for car in cars %}
            <div class="car">
                <a href="{{ url_for('car_profile', car_id=car.id)}}", target="_blank">
                    <img src="{{ car.picture }}" alt="Car Picture">
                </a> 
                <h4><a href="{{url_for('reservation', car_id=car.id)}}" >Reserve</a></h4>
            </div>
        {% endfor %}
    </div>


<!-- Pagination controls -->
<div class="pagination">
    {% if cars.has_prev %}
        <a href="{{ url_for('user_dashboard', page=cars.prev_num) }}">Previous</a>
    {% endif %}
    {% for num in cars.iter_pages(left_edge=2, right_edge=1, left_current=1, right_current=2) %}
        {% if num %}
            {% if num != cars.page %}
                <a href="{{ url_for('user_dashboard', page=num) }}">{{ num }}</a>
            {% else %}
                <strong>{{ num }}</strong>
            {% endif %}
        {% else %}
            <span>...</span>
        {% endif %}
    {% endfor %}
    {% if cars.has_next %}
        <a href="{{ url_for('user_dashboard', page=cars.next_num) }}">Next</a>
    {% endif %}
</div>


<a href="{{url_for('logout')}}">LogOut</a>
</body>
</html>